.link-hover {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        bottom: -1px;
        background: -webkit-linear-gradient(49.14deg, #FF80A4 18.25%, #FFA984 78.46%);
        transform: scale(0) translateY(-4px);
        transition: all .25s;
    }

    &:hover {
        cursor: pointer;

        &::after {
            transform: scale(1) translateY(100%);
        }
    }
}

.bold {
    font-weight: 700;
}


.h2-container {
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &__for-whom {
        @include text-gredient;
        text-transform: uppercase;
        font-size: 36px;
    }
}




.list_and_offer {

    &__head {
        @include text-gredient;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: .06rem;
    }

    &__head_span {
        display: block;
        text-transform: uppercase;
        font-size: calc(1.5rem + 50%);
        font-weight: 500;
    }

    &__icon {
        position: relative;
    }

    &__head_lc {
        font-size: 36px;
        text-transform: uppercase;
    }

    &__list {
        margin-top: 1rem;
    }

    &__li {
        display: flex;
        align-items: center;
    }

    &__li:not(:first-child) {
        margin-top: .75rem;
    }

    &__text {
        margin-left: .5rem;
        font-size: 1rem;

    }

    &__course-title {
        font-weight: 400;
        color: $sec-text;
    }


    //num for courses
    &__course-title1 {
       position: relative;
       &:before {
           content: '';
           position: absolute;
           width: 100%;
           height: 100%;
       }
    }
}