.page-careful {
    width: 100%;    
    position: relative;
    

    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        background-image: url(../img/bag-bg.png);
        background-size: cover;
        background-position: 50% 50%;
        height: 100%;
        width: 100%;
        top: -135%;
        min-height: 850px;
        left: 0;
        right: 0;
    }
 
}

.careful {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-120px);
    
    &__item {
        width: 40%;
        min-width: 0;
    }
}

.bag-slider {
    overflow: hidden;
    min-width: 0;
    display: flex;
    img {
        display: block;
        margin: 0 auto;
        max-width: 300px;
    }
  

    &__item:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

.bag-slider-controlls {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

@media(max-width:830px) {
    .careful {
        flex-direction: column;

        &__item {
            width: 100%;
        }
    }
    .bag-slider {
        margin-top: 3rem;   
    }

    .page-careful {
        &:before {
         
            top: -15%;
           
        }
     
    }
}