.text-gradient {
  background: -webkit-linear-gradient(49.14deg, #FF80A4 18.25%, #FFA984 78.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  font-family: inherit;
  font-size: 1rem;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  html,
  body {
    font-size: 12px;
  }
}

@media (min-width: 1440px) {
  html,
  body {
    font-size: 18px;
  }
}

.header-container {
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  top: 1rem;
  left: 0;
  z-index: 50;
  text-align: center;
}

.header__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25rem 1.25rem;
  background-color: #fff;
  -webkit-box-shadow: 10px 15px 70px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 15px 70px rgba(0, 0, 0, 0.1);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-img {
  margin-right: auto;
}

.header__menu {
  width: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header__link {
  height: 100%;
  width: 100%;
  font-size: 14px;
  color: #535353;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all .45s;
  transition: all .45s;
  text-transform: uppercase;
}

.header__link:hover {
  cursor: pointer;
}

.header__link span {
  display: block;
  height: 60px;
  line-height: 60px;
}

.header__burger {
  display: none;
}

.logo-img {
  max-width: 300px;
  width: 100%;
}

.login-icon {
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .header__menu {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}

@media (max-width: 767px) {
  .header__list {
    position: fixed;
    z-index: 1000;
    -webkit-transition: .8s;
    transition: .8s;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.911);
  }
  .login-icon {
    margin-left: 0;
    margin-right: 45px;
    margin-bottom: 0;
  }
  .login-icon :hover {
    -webkit-filter: url("../img/icon/login.svg#login-filter");
            filter: url("../img/icon/login.svg#login-filter");
  }
  .header__link span {
    height: 100%;
    padding-bottom: 1rem;
    line-height: 1;
  }
  .header__menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu_active {
    right: 0;
  }
  .header__burger {
    display: block;
    position: fixed;
    z-index: 1100;
    height: 25px;
    right: 25px;
    width: 25px;
  }
  .header__burger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
  }
  .header__burger span:not(first-child) {
    margin-top: 3px;
  }
  .burger_active span {
    margin-bottom: -10px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .burger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger_active span:nth-child(2) {
    display: none;
  }
  .burger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 8px;
  }
}

.link-hover {
  position: relative;
}

.link-hover::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background: -webkit-linear-gradient(49.14deg, #FF80A4 18.25%, #FFA984 78.46%);
  -webkit-transform: scale(0) translateY(-4px);
          transform: scale(0) translateY(-4px);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.link-hover:hover {
  cursor: pointer;
}

.link-hover:hover::after {
  -webkit-transform: scale(1) translateY(100%);
          transform: scale(1) translateY(100%);
}

.bold {
  font-weight: 700;
}

.h2-container {
  margin-left: auto;
  margin-right: auto;
}

.main-btn {
  width: 100%;
  max-width: 290px;
  border-radius: 35px;
  padding: .75rem 0;
  text-transform: uppercase;
  cursor: pointer;
  font-size: .9rem;
}

.main-btn_black {
  background-color: #0A0A0A;
  color: #fff;
  border: 1px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-btn_black:hover {
  background-color: #fff;
  color: #0A0A0A;
  border: 1px solid #0A0A0A;
}

.main-btn_list {
  margin-top: 1.5rem;
}

.popup {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em .75em;
}

.popup__content {
  position: relative;
  background-color: #fff;
  color: #000;
  max-width: 650px;
  padding: 2em .75em;
  -webkit-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: rgba(0, 0, 0, 0.911);
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

.page1 {
  background-image: url(../img/page1_bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  border-top: 1px solid transparent;
  padding-bottom: 5rem;
}

.list_and_offer__head {
  background: -webkit-linear-gradient(49.14deg, #FF80A4 18.25%, #FFA984 78.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 360px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .06rem;
}

.list_and_offer__head_span {
  display: block;
  text-transform: uppercase;
  font-size: calc(1rem + 50%);
  font-weight: 500;
}

.list_and_offer__list {
  margin-top: 1rem;
}

.list_and_offer__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list_and_offer__li:not(:first-child) {
  margin-top: .75rem;
}

.list_and_offer__text {
  margin-left: .5rem;
  font-size: 1rem;
}

.list_and_offer_page1 {
  margin-top: 9rem;
  background-color: #fff;
  -webkit-box-shadow: 10px 15px 70px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 15px 70px rgba(0, 0, 0, 0.1);
  max-width: 520px;
  padding: 1.5rem;
}

.tavi_this {
  max-width: 330px;
  text-align: center;
  margin-top: 3rem;
}

.advantages {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2rem;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item:not(:first-child) {
  margin-left: 4rem;
}

.advantages__row:not(:first-child) {
  margin-left: 4rem;
}

.advantages__num {
  font-size: 32px;
}

.advantages__num-span {
  display: block;
  margin-top: -15px;
}

.plus {
  max-height: 128px;
  margin-top: -10px;
}

.plus__span {
  display: block;
  margin-top: -35px;
  font-size: 32px;
}

@media (max-width: 950px) {
  .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .advantages__item:not(:first-child) {
    margin-left: 0;
  }
  .advantages__row:not(:first-child) {
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .advantages__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantages__num {
    font-size: 18px;
  }
  .plus__span {
    font-size: 18px;
  }
}

.advantages-bg {
  position: relative;
  z-index: 1;
  background-image: url(../img/advantages-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  border-top: 1px solid transparent;
}

.advantages_bg_content {
  position: relative;
  margin-top: 30vh;
  background-color: #fff;
  background-image: url(../img/white-bg.png);
  background-size: contain;
  background-position: 50% 50%;
  -webkit-box-shadow: 10px 15px 70px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 15px 70px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  padding: 1.5rem;
}

.advantages_bg_content::before {
  content: '';
  position: absolute;
  z-index: -1;
  overflow: hidden;
  left: -120px;
  top: -80px;
  width: 100%;
  max-width: 240px;
  height: 100%;
  background-image: url(../img/circle-full-collor.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.advantages_bg_content::after {
  content: '';
  position: absolute;
  z-index: -1;
  overflow: hidden;
  right: -70px;
  top: 20px;
  width: 100%;
  max-width: 360px;
  height: 145%;
  background-image: url(../img/circle-with-opacity.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.advantages_bg_content__title {
  text-transform: uppercase;
  font-size: 36px;
}

.advantages_bg_content__text {
  font-size: 1rem;
  color: #535353;
  margin-top: .5rem;
}

@media (max-width: 768px) {
  .advantages_bg_content {
    margin-left: auto;
    margin-right: auto;
  }
  .advantages_bg_content::before {
    left: -10%;
    max-width: 100px;
    height: 100%;
  }
  .advantages_bg_content::after {
    right: -10%;
    max-width: 200px;
  }
}

@media (max-width: 620px) {
  .advantages-bg {
    margin-top: -100px;
  }
  .advantages_bg_content {
    margin-top: 40vh;
  }
  .advantages_bg_content::before {
    left: -10px;
  }
  .advantages_bg_content::after {
    right: -10px;
  }
}
/*# sourceMappingURL=style.css.map */