.page_course_bg {
    background-image: url(../../img/page-courses-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}

.page_courses {
    display: flex;

}

.page_courses_1bg {
    margin-top: 5%;
    background-color: #fff;
    padding: 1rem 1rem 2rem;
}

.page_courses_list_bg {
    position: relative;
    background-image: url(../img/bag-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -250px;
    padding-top: 15rem;
}
@media(max-width:1200px) {
    .page_courses_list_bg {
        background-size: contain;
        background-position: center top;
    }
}

// courses_choise
.page-courses-choise {
    margin-top: 3.5rem;
}
.courses_choise {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -50px;

    img {
        width: 100%;
    }

    &__item {
        width: 100%;
        position: relative;
        flex-basis: 400%;
        z-index: -1;
    }

    &__courses_list {
       transform: translateX(-95px);
    }

    &__title {
        font-size: 60px;
        font-weight: 700;
    }
}


@media(max-width:1200px) {
    .courses_choise {
        flex-direction: column;
        &__courses_list {
            margin-left: 0;
            transform: translateX(0);
            justify-content: center;
        }
    }
}

@media(max-width:767px) {
    .courses_choise {
        flex-direction: column;
        &__courses_list {
            flex-direction: column;
            max-width: 320px;
        }
    }
}